.progress-container {
  width: 300px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
  background-color: transparent; /* Make the background transparent */
  border-radius: 5px;
  position: relative; /* Allows us to position the wolf head */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* This is the correct way to set display */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* Centers the wolf head vertically */
}

.progress-bar {
  height: 100%;
  background-position: 0 0;
  background-repeat: repeat-x;
  width: 100%;  /* Make the progress-bar fill the container's width */
}

.progress-bar.bg-danger {
   background-image: repeating-linear-gradient(
     to right,
     #000,
     #000 5px,
     #f00 5px,
     #f00 10px
   );
   background-size: 10px 100%;
}